---
import BaseLayout from '../../layouts/BaseLayout.astro';
import CTASection from '../../components/CTASection.astro';
import { META_DESCRIPTIONS } from '../../consts';
---

<BaseLayout
  title="Practice Areas"
  description={META_DESCRIPTIONS.practiceAreasIndex}
  activeNav="practice"
>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <section class="u-bgColor-gray200 u-py8">
        <div class="o-grid">
          <header class="o-grid-cell u-mb5">
            <h1 class="u-txtCenter">Practice Areas</h1>
            <p class="u-txtCenter u-txtSmall u-mb0">
              Willoughby & Associates handles civil and criminal litigation for clients throughout California from our
              Los Angeles–area office.
            </p>
          </header>
          <div class="o-grid-cell u-sizeFull u-mb4">
            <h2 class="u-txtCenter u-h3">What we handle</h2>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">
                <a href="/practice-areas/personal-injury/">Personal Injury</a>
              </h3>
              <p class="u-txtSmall">
                For decades we have fought to protect our clients’ rights to be free from harm in a wide range of areas
                from car accidents to dog bites.
              </p>
              <a class="u-txtSmaller u-borderBottom u-border1 u-mr4" href="/practice-areas/personal-injury/"
                >Learn More &raquo;</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">
                <a href="/practice-areas/appellate-advocacy/">Appellate Advocacy</a>
              </h3>
              <p class="u-txtSmall">
                We take pride in our ability to mold and shape the law to effectuate change for the good of the
                individual client and for the good of the community as a whole.
              </p>
              <a class="u-txtSmaller u-borderBottom u-border1 u-mr4" href="/practice-areas/appellate-advocacy/"
                >Learn More &raquo;</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">
                <a href="/practice-areas/municipal-law/">Municipal Law</a>
              </h3>
              <p class="u-txtSmall">
                We have decades of experience representing both individual plaintiffs, as well as government entities,
                who need defense or other litigation work.
              </p>
              <a class="u-txtSmaller u-borderBottom u-border1 u-mr4" href="/practice-areas/municipal-law/"
                >Learn More &raquo;</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">
                <a href="/practice-areas/employment-law/">Employment Law</a>
              </h3>
              <p class="u-txtSmall">
                In this constantly evolving area of law, you need legal counsel with deep expertise and the tenacity to
                relentlessly fight for your position.
              </p>
              <a class="u-txtSmaller u-borderBottom u-border1 u-mr4" href="/practice-areas/employment-law/"
                >Learn More &raquo;</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">Lobbying</h3>
              <p class="u-txtSmall">
                Many attorneys can craft a decent argument, but few possess our ability to influence and persuade men
                and women in power to create the change you want to see in your community.
              </p>
              <a
                class="u-txtSmaller u-borderBottom u-border1 u-mr4"
                href="mailto:anthony@firmwilloughby.us?subject=Lobbying-Consult">Free Consultation</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">Civil Rights</h3>
              <p class="u-txtSmall">
                We are the defenders of the United States Constitution, tirelessly fighting to protect your rights from
                those who would seek to deprive you through unjust actions, unjust laws, police brutality, and
                discrimination.
              </p>
              <a
                class="u-txtSmaller u-borderBottom u-border1 u-mr4"
                href="mailto:anthonyw2@firmwilloughby.us?subject=Civil Rights-Consult">Free Consultation</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">
                <a href="/practice-areas/criminal-defense/">Criminal Defense</a>
              </h3>
              <p class="u-txtSmall">
                We represent people of all backgrounds and from every socio-economic class, in cases that range from
                murder to local misdemeanors.
              </p>
              <a class="u-txtSmaller u-borderBottom u-border1 u-mr4" href="/practice-areas/criminal-defense/"
                >Learn More &raquo;</a
              >
            </div>
          </div>
          <div class="o-grid-cell u-sizeFull u-md-size1of2">
            <div class="o-box o-box--flush u-pr4 u-pt4 u-mb6 u-borderTop u-borderColor-gray300 u-border2">
              <h3 class="u-color-blue700 u-bold u-fontFamilySans u-allCaps u-txtSmall">Estate Planning</h3>
              <p class="u-txtSmall">
                To help you plan for the future, our office provides services in a wide range of areas such as Wills,
                Trusts, Prenuptial Agreements, Advanced Directives, and more.
              </p>
              <a
                class="u-txtSmaller u-borderBottom u-border1 u-mr4"
                href="mailto:anthonyw2@firmwilloughby.us?subject=Estate Planning-Consult">Free Consultation</a
              >
            </div>
          </div>
        </div>
      </section>
      <CTASection />
    </div>
  </main>
</BaseLayout>
