<section class="u-py8 u-bgColor-blue700 u-color-gray100">
  <div class="o-wrapper u-colorGrayLightest u-txtCenter">
    <h2 class="u-h3 u-mb4">
      If you are in a situation that requires legal assistance, we can help you come out ahead without
      breaking your bank.
    </h2>
    <p class="u-txtCenter">
      <a href="/contact-us/" class="button button--alt button--outline--inverted">Contact Us</a>
    </p>
  </div>
</section>
